{% if estado %}
<div class="{{ estado.0 }}">{{ estado.1 }}</div>
{% endif %}
<table id="tplanillas" name="tplanillas"
       style="border: 1px solid #E5E5E5!important;
       border-radius: 4px;"
       class="table table-bordered">
    <thead>
        <tr>
            <th class="tblth">REGISTROS</th>
            <th class="tblth">NOMBRES Y APELLIDOS</th>
            <th class="tblth">OBSERVACIÓN</th>
            {% for concepto in conceptos %}
                <th class="tblth">{{ concepto.codi_conc_tco.desc_cort_tco }}</th>
            {% endfor %}
        </tr>
    </thead>
    {{ formset.management_form }}
    <tbody>
        {% for f in formset %}
            <tr id="table2_{{ forloop.counter }}">
            <td>{{ forloop.counter }}</td>
            {% for field in f %}
                <td>{{ field }}</td>
            {% endfor %}
            </tr>
        {% empty %}
            <tr><td colspan="3">No se encontraron registros. Es posible que se trate de un folio de resumen o que el folio no este registrado.</td></tr>
        {% endfor %}
    </tbody>
</table>