{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Dashboard - Ace Admin</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!--basic styles-->

		<link href="{{ STATIC_URL }}assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="{{ STATIC_URL }}assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!--page specific plugin styles-->

		<!--fonts-->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!--ace styles-->

		<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/ace.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/ace-responsive.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/ace-ie.min.css" />
		<![endif]-->

		<!--inline styles related to this page-->

        {% block csspage %}
        {% endblock %}
    </head>
	<body class="{% block clase_body %}{% endblock %}">
        {% block header %}
            {% include 'include/header.html' %}
        {% endblock %}

        <div class="main-container container-fluid">
            {% block aside %}
                {% include 'include/aside.html' %}
            {% endblock %}

			<div class="main-content">
                {% block content %}
                {% endblock %}
                {% block config_page %}
                    {% include 'include/config_page.html' %}
                {% endblock %}
			</div>
		</div>

        <script src="{{ STATIC_URL }}assets/js/jquery-1.8.3.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap.min.js"></script>

		<script src="{{ STATIC_URL }}assets/js/ace-elements.min.js"></script>
		<script src="{{ STATIC_URL }}assets/js/ace.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/jquery.placeholder.js"></script>
        <!--[if lte IE 8]>
		  <script src="{{ STATIC_URL }}assets/js/excanvas.min.js"></script>
		<![endif]-->
        <script type="text/javascript">
            //jQuery.noConflict();
        </script>
        {% block js %}
        {% endblock %}

    </body>
</html>